@charset "UTF-8";
body {font-size: 'メイリオ', 'Hiragana Kaku Gothic Pro', sans-serif}
@media (min-width: 768px){

  .site h1 a /* 文字の色と下線 */
  {color:#000000; text-decoration: none;}
  .site h1 /* 文字サイズ */
  {margin: 0; font-size: 30px;}
  .site p /*-余白 */
  {margin: 0; font-size: 12px;}

  .menu ul /* リストマークの削除と文字のデザイン */
  {margin: 0; padding: 0; list-style: none;}
  .menu li a /* カーソルを重ねた時のデザイン */
  {display: block; padding: 0; color: #000000; font-size: 14px; text-decoration: none;}
  .menu li a:hover /* リンクが機能する範囲 */
  {background-color: #eeeeee;}
  .menu ul:after /* リンクを横に並べる */
  {content: ""; display: block; clear: both;}
  .menu li
  {float: left; width: auto;}

  .top img
  {max-width: 100px; height: auto;}

  .news h1
  {margin-top: 0; margin-bottom: 10px; border-bottom: dotted 2px #dddddd; color: #666666; font-size: 18px;}

  .news ul /* リストマークの削除と文字のデザイン */
  {margin: 0; padding: 0; list-style: none;}
  .news li a /* カーソルを重ねた時のデザイン */
  {display: block; padding: 5px; color: #000000; font-size: 14px; text-decoration: none; border-bottom: dotted 2px #dddddd }
  .news li a:hover /* リンクが機能する範囲 */
  {background-color: #eeeeee;}
  .news time /* 日付とリンクのデザイン */
  {margin-right: 10px; color: #888888; font-weight: bold;}

  .copyright p /* 文字のデザインと余白 */
  {margin: 0; color: #666666; font-size: 14px;}

}
